<div class="row" id="header">
    <!-- Profile's information -->
    <div class="col-lg-2" id="profile-information">
        <div class="row">
            <div class="col-lg-3">
                <img src="../assets/user.png">
            </div>
            <div class="col-lg-9">
                <span class="d-block">Hola <strong>Daniel José Albor Bassi</strong></span>
                <a href="#" class="d-block">
                    <i class="fa fa-user"></i>
                    Mi Perfil
                </a>
                <a href="#" class="d-block">
                    <i class="fa fa-sign-out"></i>
                    Cerrar sesión
                </a>
            </div>
        </div>
    </div>
    <!-- Software's information -->
    <div class="col-lg-8 text-center" id="software">
        <!-- <img src="../assets//logo.png" alt=""> -->
        <app-menu-item [allMenuItems]="menuItems" class="my-3"></app-menu-item>
    </div>
    <!-- Company and Group's information -->
    <div class="col-lg-2 text-center company">
        <!-- <h2>Hospital María De Jesús</h2>
        <span>danielalbor22gmail.com.co</span> -->
        <img src="../assets/logo.png">
    </div>
</div>